body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: lightgray;

}

#board {
    background-color: lightgray;
    border-bottom: 1px solid black;
}